<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" xdt:Transform="SetAttributes" />
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging xdt:Transform="Remove" />
    </diagnostics>
  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <source name="System.ServiceModel.MessageLogging" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <source name="myUserTraceSource" switchValue="Warning, ActivityTracing" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </sources>
  </system.diagnostics>

</configuration>