<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="syncAgentConfigurationSection" type="TIG.IntegrationServer.Common.Configuration.SyncAgentConfigurationSection, TIG.IntegrationServer.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <syncAgentConfigurationSection xmlns="urn:TIG.IntegrationServer.Common.Configuration">
    <syncServiceSettings serviceUri="http://NavTest.totalimagegroup.com.au:8058/DynamicsNAV2015/OData/Company('TEST-Totalimagegroup')" metadataUri="http://navtest.totalimagegroup.com.au:8058/DynamicsNAV2015/OData/$metadata">
      <networkCredential domain="totalimagegroup" username="developertest" password="junC0mputer" />
    </syncServiceSettings>
    <changeTrackerSettings provider="System.Data.SqlClient" connectionString="Data Source=192.168.5.34\sqltest; Initial Catalog=NavTest; user=nbsapp; pwd=##qwerty123; MultipleActiveResultSets=True" />
  </syncAgentConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.14.0.0" newVersion="6.14.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>