<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="2147483647" targetFramework="4.5" />
    <machineKey compatibilityMode="Framework45"
                validationKey="F364126C2F22E7769CF749BA3205A62E70F61AF8457EE7ACBE2AC77968528EB6DFA39653610C7458B7E55BB0DB87F3C4C7BDBD14C4014612CC8DE0A4B0A209AB"
                decryptionKey="E0744DD70FB27ECA361B8B485D028680006A96B0AC3D17837AA6CBA82345EF19"
                validation="SHA1"
                decryption="AES"
    />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="TIG.TotalLink.Server.DataService.Repository.RepositoryDataService" behaviorConfiguration="serviceBehavior">
        <endpoint contract="DevExpress.Xpo.DB.ICachedDataStoreWarpService" address="" binding="basicHttpBinding"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="AuthenticationBehavior" type="TIG.TotalLink.Server.Core.ServiceBehavior.AuthenticationBehaviorExtensionElement, TIG.TotalLink.Server.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="false"/>
          <!-- <AuthenticationBehavior /> -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 transferMode="Streamed"
                 openTimeout="00:05:00"
                 closeTimeout="00:05:00"
                 sendTimeout="00:05:00"
                 receiveTimeout="00:05:00"/>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <diagnostics wmiProviderEnabled="false">
      <messageLogging
           logEntireMessage="false"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
       />
    </diagnostics>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
</configuration>
