<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="syncAgentConfigurationSection" type="TIG.IntegrationServer.Common.Configuration.SyncAgentConfigurationSection, TIG.IntegrationServer.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <syncAgentConfigurationSection xmlns="urn:TIG.IntegrationServer.Common.Configuration">
    <syncServiceSettings serviceUri="http://localhost:4303/Crm.svc" authentication="true">
      <authenticationSettings serviceUri="http://localhost:4301/Admin.svc/Login" login="admin" password="jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg="/>
    </syncServiceSettings>
    <changeTrackerSettings provider="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=TIG.TotalLink.Server; user=sa; pwd=sasa; MultipleActiveResultSets=True"/>
    <!--<changeTrackerSettings provider="System.Data.SqlClient" connectionString="Data Source=KERMITT-W7-2015; Initial Catalog=TotalLink2; user=nbsapp; pwd=##qwerty123; MultipleActiveResultSets=True"/>-->
  </syncAgentConfigurationSection>
</configuration>